<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>Создание нового поста</h1>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Заголовок поста:</label>
    <input id="title" type="text" formControlName="title">
    <div class="validation"
         *ngIf="form.get('title').touched && form.get('title').invalid"
    >
      <small *ngIf="form.get('title').errors.required">Для создания поста требуется заголовок.</small>
    </div>
  </div>

  <div class="form-control">
    <label>Содержимое поста:</label>
    <quill-editor formControlName="text"></quill-editor>
  </div>

  <div
    class="form-control"
    [ngClass]="{invalid: form.get('author').touched && form.get('author').invalid}"
  >
    <label for="author">Автор поста:</label>
    <input id="author" type="text" formControlName="author">
    <div class="validation"
         *ngIf="form.get('author').touched && form.get('author').invalid"
    >
      <small *ngIf="form.get('author').errors.required">Пост не может быть анонимным. Укажите автора.</small>
    </div>
  </div>
  <button
  type="submit"
  class="btn btn-block btn-dark"
  [disabled]="form.invalid"
  >
    Создать пост
  </button>
</form>
