<div *ngIf="form; else loading">
  <form [formGroup]="form" (ngSubmit)="submit()">
  <div
    class="form-control"
    [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
  >
    <label for="title">Заголовок поста:</label>
    <input id="title" type="text" formControlName="title">
    <div class="validation"
         *ngIf="form.get('title').touched && form.get('title').invalid"
    >
      <small *ngIf="form.get('title').errors.required">Для создания поста требуется заголовок.</small>
    </div>
  </div>
  <div>
    <quill-editor formControlName="text"></quill-editor>
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="form.invalid || submitted"
    >Обновить</button>
  </div>
  </form>
</div>


<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>

