<div *ngIf="posts && posts.length; else loading">
  <div class="form-control">
    <label for="search">Поиск</label>
    <input id="search" type="text" placeholder="Найти пост..." [(ngModel)]="searchStr">
  </div>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Автор</th>
      <th>Название</th>
      <th>Дата</th>
      <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts | searchPosts: searchStr; let idx = index">
      <td>{{ idx }}</td>
      <td>{{ post.author }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.date | date: "medium":null:'ru' }}</td>
      <td>
        <button
          class="btn btn-link open"
          [routerLink]="['/admin', 'post', post.id, 'edit']"
        >
          Изменить
        </button>
        <a (click)="remove(post.id)">Удалить</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<ng-template #loading>
  <p class="text-center">Идет загрузка...</p>
</ng-template>
