<div
  *ngIf="posts$ | async as posts; else loading"
  class="posts">
    <app-post
    *ngFor="let post of posts"
    [post]="post"
    ></app-post>

</div>

<ng-template #loading>
    <p class="text-center">Идет загрузка...</p>
</ng-template>

